{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}

    <h1>Se connecter</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-cta-primary">Se connecter</button>
    {{ form_end(form) }}

{% endblock %}
