<!-- ******HEADER****** -->
<header class="header">
    <div class="container clearfix">
        <a href="{{ path('home') }}" title="Retour page principale du profile">
            <img class="profile-image img-fluid float-left rounded-circle" src="/images/profile.png" alt="profile image" />
        </a>
        <div class="profile-content float-left">
            <h1 class="name">Benoît Mallo</h1>
            <h2 class="desc">Concepteur Développeur Symfony</h2>
            <ul class="social list-inline">
                <li class="list-inline-item"><a title="Mon twitter" href="https://twitter.com/b_mallo"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a title="Mon profil linkedin" href="https://www.linkedin.com/in/benoit-mallo-809b29a8/"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a title="Mon github" href="https://github.com/TuxBoy"><i class="fab fa-github-alt"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
                <li class="list-inline-item last-item"><a href="#"><i class="fab fa-codepen"></i></a></li>
            </ul>
        </div><!--//profile-->
        <a class="btn btn-cta-primary float-right" href="{{ path('contact') }}"><i class="fas fa-paper-plane"></i> Me contacter</a>
    </div><!--//container-->
</header><!--//header-->
