{% extends 'base.html.twig' %}

{% block title 'Mon site perso' %}

{% block body %}

    <h1>Me contacter</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

    <button type="submit" class="btn btn-cta-primary float-left">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}